<div *ngIf="panelEnabled">
  Codice <input type="text" [(ngModel)]="codice" [disabled]="panelInputDisabled">&nbsp;
  Descrizione <input type="text" [(ngModel)]="descrizione"[disabled]="panelInputDisabled">&nbsp;
  Prezzo <input type="text" [(ngModel)]="prezzo" [disabled]="panelInputDisabled">
  <br>
  <br>
  <button (click)="conferma()" *ngIf="confermaEnabled">Conferma</button>&nbsp;
  <button (click)="annulla()" *ngIf="annullaEnabled">Annulla</button>&nbsp;
  <button (click)="crea()" *ngIf="creaEnabled">Crea</button>&nbsp;
  <button (click)="modifica()" *ngIf="modificaEnabled">Modifica</button>&nbsp;
  <button (click)="rimuovi()" *ngIf="rimuoviEnabled">Rimuovi</button>
</div>
<br>
<hr>
<br>
<div *ngIf="searchPanelEnabled">
  <input type="text" [(ngModel)]="searchKey" [disabled]="cercaInputDisabled">&nbsp;
  <button (click)="cerca()" *ngIf="cercaEnabled">Cerca</button>
</div>
  <button (click)="aggiungi()" *ngIf="aggiungiEnabled">Aggiungi</button>&nbsp;

<br>
<hr>
<br>
<table *ngIf="resultsEnabled">
  <tr>
    <th>Codice Spedizione</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let s of spedizioni">
      <td>{{s.codice}}</td>
      <td>{{s.descrizione}}</td>
      <td>{{s.prezzo}}</td>
      <td>
        <button (click)="view()" *ngIf="viewEnabled">View</button>
      </td>
      <td>
        <button (click)="edit()" *ngIf="editEnabled">Edit</button>
      </td>
      <td>
        <button (click)="delete()" *ngIf="deleteEnabled">Delete</button>
      </td>
  </tr>
</table>

