<button value="home" routerLink="/home-riservata">Home</button>
<hr>
<label>Ricerca per prezzo </label>
<input type="number" [(ngModel)]="prezzoSearch" name="prezzoSearch" placeholder="Prezzo massimo prodotti"
onkeydown="javascript:
return event.keyCode === 8
|| event.keyCode === 46
|| event.keyCode === 190 ? true : !isNaN(Number(event.key))" >
<!-- Conttrollo sui tasti cliccati: ammessi solo numeri, punto e tasti di canecllazione-->
<button value="ricerca" (click)="ricerca()">Cerca</button>
<br>
<p>{{ msg }}</p>
<table *ngIf="prodotti">

  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
  </tr>

  <tr *ngFor="let p of prodotti">
    <td>{{ p.codice }}</td>
    <td>{{ p.descrizione }}</td>
    <td>{{ p.prezzo }}</td>
  </tr>

</table>
