<button value="home" routerLink="/home-riservata">Home</button>
<hr>
<label>Ricerca per prezzo </label>
<input type="number" [(ngModel)]="prezzoSearch" name="prezzoSearch" placeholder="Prezzo massimo prodotti">
<button value="ricerca" (click)="ricerca()">Cerca</button>
<br>
<p>{{ msg }}</p>
<table *ngIf="prodotti">

  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
  </tr>

  <tr *ngFor="let p of prodotti">
    <td>{{ p.codice }}</td>
    <td>{{ p.descrizione }}</td>
    <td>{{ p.prezzo }}</td>
  </tr>

</table>
