<div *ngIf="panelEnabled">
  <input type="hidden" [value]="id">
  Codice
  <input [(ngModel)]="codice" [disabled]="inputDisabled">
  &nbsp;

  Descrizione
  <input [(ngModel)]="descrizione" [disabled]="inputDisabled">
  &nbsp;

  <br>
  <button (click)="conferma()" *ngIf="confermaEnabled">Conferma</button>
  <button (click)="annulla()" *ngIf="annullaEnabled">Annulla</button>
  <button (click)="crea()" *ngIf="creaEnabled">Crea</button>
  <button (click)="modifica()" *ngIf="modificaEnabled">Modifica</button>
  <button (click)="rimuovi()" *ngIf="rimuoviEnabled">Rimuovi</button>
</div>
<br>
<div *ngIf="cercaEnabled">
  <input [(ngModel)]="searchKey">&nbsp;
  <button (click)="cerca()">Cerca</button>
  &nbsp;
  <button (click)="aggiungi()" *ngIf="aggiungiEnabled">Aggiungi</button>
</div>
<br>
<table *ngIf="risultatoEnabled">
  <tr>
    <th>CODICE</th>
    <th>DESCRIZIONE</th>
  </tr>
  <tr *ngFor="let item of taglie">
    <td>{{item.codice}}</td>
    <td>{{item.descrizione}}</td>
    <td><button (click)="view(item.id)">View</button></td>
    <td><button (click)="edit(item.id)">Edit</button></td>
    <td><button (click)="delete(item.id)">Delete</button></td>
  </tr>
</table>



