<div *ngIf="panelEnabled">
  <input type="hidden" [value]="id">
  <label for="input-codice">Codice </label>
  <input id="input-codice" [(ngModel)]="codice" [disabled]="inputDisabled">
  <label for="input-descrizione"> Descrizione </label>
  <input id="input-descrizione" [(ngModel)]="descrizione" [disabled]="inputDisabled">
  <br>
  <button (click)="conferma()" *ngIf="confermaAndAnnullaEnabled">Conferma</button>
  <button (click)="annulla()" *ngIf="confermaAndAnnullaEnabled">Annulla</button>
  <button (click)="crea()" *ngIf="creaEnabled">Crea</button>
  <button (click)="modifica()" *ngIf="modificaEnabled">Modifica</button>
  <button (click)="rimuovi()" *ngIf="rimuoviEnabled">Rimuovi</button>
</div>
<br>
<div *ngIf="cercaEnabled">
  <input [(ngModel)]="searchKey">&nbsp;
  <button (click)="cerca()">Cerca</button>
  &nbsp;
  <button (click)="aggiungi()" *ngIf="aggiungiEnabled">Aggiungi</button>
</div>
<br>
<table *ngIf="risultatoEnabled">
  <tr>
    <th>CODICE</th>
    <th>DESCRIZIONE</th>
  </tr>
  <tr *ngFor="let taglia of taglie">
    <td>{{taglia.codice}}</td>
    <td>{{taglia.descrizione}}</td>
    <td><button (click)="view(taglia)">View</button></td>
    <td><button (click)="edit(taglia)">Edit</button></td>
    <td><button (click)="delete(taglia)">Delete</button></td>
  </tr>
  <tr>
    <td><button *ngIf="!pageIsFirst" (click)="cerca(0)">Inizio</button></td>
    <td><button *ngIf="!pageIsFirst" (click)="cerca(paginaAttuale - 1)">Precedente</button></td>
    <td> Pagina {{paginaAttuale+1}} </td>
    <td><button *ngIf="!pageIsLast" (click)="cerca(paginaAttuale + 1)">Successivo</button></td>
    <td><button *ngIf="!pageIsLast" (click)="cerca(-1)">Fine</button></td>
  </tr>
</table>
