<div>
  <label for="n-order">Numero ordine</label>
  <input type="number" id="n-order" [(ngModel)]="searchKeyNumOrd">

  <label for="date">Nuovo ordine</label>
  <input type="date" id="date" [(ngModel)]="searchKeyData">

  <button (click)="cerca()"> Cerca </button>
</div>

<div *ngIf='showResults || ordini && ordini.length > 0'>
  <table>
    <tr>
      <th>Data ordine</th>
      <th>Numero</th>
      <th>Stato</th>
    </tr>
    <tr *ngFor="let ordine of ordini">
      <td>{{ordine.data}}</td>
      <td>{{ordine.numero}}</td>
      <td>{{ordine.stato}}</td>
      <td><button (click)="dettagli(ordine)">Dettagli</button></td>
      <td><button (click)="spedisci(ordine)">Spedisci</button></td>
    </tr>
  </table>
</div>
