<p>
  home-riservata works!
</p>
<a routerLink="/anagrafica-taglie">Taglie</a>
<br>
<a routerLink="/anagrafica-prodotti">Prodotti</a>
<br>
<a routerLink="/anagrafica-colori">Colori</a>
<br>
<a routerLink="/elenco-offerte">Elenco offerte</a>
<br>
<a routerLink="/anagrafica-spedizioni">Anagrafica Spedizioni</a>
<br>
<a routerLink="/visualizza-ordini-da-spedire">Visualizza ordini da spedire</a>
<br>
<a routerLink="/elenco-spedizioni">Elenco Spedizioni</a>
<br>
<a routerLink="/visualizza-ordini">Visualizza Ordini</a>
<br>
<a routerLink="/">Home Pubblica</a>
