<p>
  Benvenuto nella Home Page riservata!
</p>
<a routerLink="/anagrafica-taglie">Anagrafica Taglie</a>
<br><br>
<a routerLink="/anagrafica-prodotti">Anagrafica Prodotti</a>
<br><br>
<a routerLink="/anagrafica-colori">Anagrafica Colori</a>
<br><br>
<a routerLink="/anagrafica-spedizioni">Anagrafica Spedizioni</a>
<br><br>
<a routerLink="/visualizza-ordini">Elenco Ordini</a>
<br><br>
<a routerLink="/visualizza-ordini-da-spedire">Elenco Ordini da spedire</a>
<br><br>
<a routerLink="/elenco-spedizioni">Elenco Spedizioni</a>
<br><br>
<a routerLink="/elenco-offerte">Elenco Offerte</a>
<br><br>
<a routerLink="/elenco-taglie">Elenco Taglie</a>
<br><br>
<a routerLink="/elenco-colori">Elenco Colori</a>
<br><br>

