p {
  text-align: center;
  font-size: 35px;
  color: #05386B;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  font-size: 14px;
  color: #05386B;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
