div {
  text-align: center;
  font-size: 14px;
  color: #05386B
}

input {
  font-size: 14px;
  border-color: #05386B;
}

button {
  font-size: 15px;
  color: #EDF5E1;
  background-color: #5CDB95;
  border: 1px solid #5CDB95;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 2px;
  padding: 2px;
  margin: 6px;
}

button:hover {
  background-color: #379683;
  color: #EDF5E1;
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
