<div class="panel" *ngIf="showPanel">
    <label>Codice: </label>
    <input type="text" [(ngModel)]="codice" name="codice" disabled="{{inputNotEditable}}">
    <label>Descrizione: </label>
    <input type="text" [(ngModel)]="descrizione" name="descrizione" disabled="{{inputNotEditable}}">
    <span *ngIf="showConfermaAnnulla">
      <button (click)="confermaCheckState(state)" >Conferma</button>
      <button (click)="annullaCheckState(state)" >Annulla</button>
    </span>
<span *ngIf="showCUD">
  <button *ngIf="showRisultati" (click)="creaCheckState(state)">Crea</button>
  <button *ngIf="showRisultati" (click)="modificaCheckState(state)">Modifica</button>
  <button *ngIf="showRisultati" (click)="cancellaCheckState(state)">Rimuovi</button>
</span>
</div>

<div class="search" *ngIf="showCerca">
  <input type="text" [(ngModel)]="ricerca" />
  <button (click)="cercaCheckState(state)">Cerca</button>
</div>
<div class="add" *ngIf="showAggiungi">
  <button (click)="aggiungiState()">Aggiungi</button>
</div>
<p>{{msg}}</p>
<div class="results" *ngIf="showRisultati">
  <table *ngIf="result.length!=0">
    <tr>
      <th>
        Codice
      </th>
      <th>
        Descrizione
      </th>
    </tr>
    <tr *ngFor="let r of result">
      <td>{{ r.codice }}</td>
      <td>{{ r.descrizione }}</td>
      <td><button (click)="visualizzaState(r)">Visualizza</button></td>
      <td><button (click)="modificaInTableCheckState(state, r)">Modifica</button></td>
      <td><button (click)="cancellaInTableCheckState(state, r)">Rimuovi</button></td>
    </tr>
  </table>
</div>
