.contenitore {
  color: #05386b;
  font-size: 14px;
  text-align: center;
}

.button {
  color: #edf5e1;
  background-color: #5cdb95;
}

.button:hover {
  background-color: #379683;
}

.input {
  border-color: #05386b;
  background-color: #edf5e1;
  color: #05386b;
  font-size: 14px;
}
