<div class="contenitore">
  Username
  <input class="input" [(ngModel)]="username">

  <br><br>
  Password
  <input class="input" [(ngModel)]="password">

  <br><br>
  Conferma password
  <input class="input" [(ngModel)]="confermapassword">

  <br><br>
  Email
  <input class="input" [(ngModel)]="email">

  <br><br>
  <div *ngIf="messaggioErrore">{{ messaggioErrore }}</div>
  <button class="button" (click)="registrami()">Conferma</button>

  &nbsp;
  <button class="button" (click)="annulla()">Annulla</button>

</div>
