<div *ngIf="showPanel">
  <input type="text" [(ngModel)]="codice" [disabled]="inputDisabled">&nbsp;
  <input type="text" [(ngModel)]="descrizione" [disabled]="inputDisabled">&nbsp;
  <input type="number" [(ngModel)]="prezzo" [disabled]="inputDisabled">
  <br>
  <br>
  <button *ngIf="showConferma" (click)="conferma()">Conferma</button>&nbsp;
  <button *ngIf="showAnnulla" (click)="annulla()">Annulla</button>&nbsp;
  <button *ngIf="showCrea" (click)="crea()">Crea</button>&nbsp;
  <button *ngIf="showModifica" (click)="modifica()">Modifica</button>&nbsp;
  <button *ngIf="showRimuovi" (click)="rimuovi()">Rimuovi</button>
</div>
<br>
<div>
  <input *ngIf="showSearchPanel" type="text" [(ngModel)]="searchKey">&nbsp;
  <button *ngIf="showSearchPanel" (click)="cerca()">Cerca</button>&nbsp;
</div>
<br>
<button *ngIf="showAggiungi" (click)="crea()">Aggiungi</button>


<div *ngIf="showResults && prodotti && prodotti.length > 0">
  <br>
  <table>
    <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
    <tr *ngFor="let p of prodotti">
      <td>{{p.codice}}</td>
      <td>{{p.descrizione}}</td>
      <td>{{p.prezzo}}</td>
      <td>
        <button (click)="view(p)">View</button>
      </td>
      <td>
        <button (click)="modifica(p)">Edit</button>
      </td>
      <td>
        <button (click)="rimuovi(p)">Delete</button>
      </td>
      </tr>
  </table>
</div>
