<div class="master">
    <h1> Siamo in Elenco Spedizioni Component</h1>
    <input type="number" [(ngModel)]="searchKey" placeholder="prezzoSearch"> &nbsp;
    <button (click)="searchSpedizione()">Cerca</button>&nbsp;
    <button [routerLink]="['/home-riservata']">Home</button>&nbsp;
    <br>
    <table class="tabella-centrata">
        <tr *ngIf="tableHeaderEnabled" class="header">
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th>Codice</th>
        </tr>
        <tr *ngFor="let s of spedizioni">
            <td>{{s.codice}}</td>
            <td>{{s.descrizione}}</td>
            <td>{{s.prezzo}}</td>
        </tr>
    </table>
    <div class="pagination">
      <button (click)="cambiaPagina(0)">
        &laquo;
      </button>
      <button (click)="cambiaPagina(pagina-1)">
        &lsaquo;
      </button>
      {{pagina+1}}
      <button (click)="cambiaPagina(pagina+1)">
        &rsaquo;
      </button>
      <button (click)="cambiaPagina(-2)">
        &raquo;
      </button>
    </div>
</div>
