<div>
  <input type='text' [(ngModel)]='searchKey'>&nbsp;
  <button (click)='eseguiRicerca(searchKey, 0)'>Cerca</button>
  <a routerLink='/home-pubblica'>
    <button>Home</button>
  </a>
</div>
<div *ngIf='showResults || taglie && taglie.length > 0'>
  <table>
    <tr>
      <th>Codice</th>
      <th>Descrizione</th>
    </tr>
    <tr *ngFor="let t of taglie">
      <td>{{t.codice}}</td>
      <td>{{t.descrizione}}</td>
    </tr>
  </table>
  <button (click) = "this.eseguiRicerca(this.searchKeyPrecedente, 0)" [disabled]=backDisabled>
    <<
  </button> &nbsp;
  <button (click) = "this.eseguiRicerca(this.searchKeyPrecedente, this.pagina - 1)" [disabled]=backDisabled>
    <
  </button> &nbsp;
  {{pagina+1}} &nbsp;
  <button (click) = "this.eseguiRicerca(this.searchKeyPrecedente, this.pagina + 1)" [disabled]=forwardDisabled>
    >
  </button> &nbsp;
  <button (click) = "this.eseguiRicerca(this.searchKeyPrecedente, -1)" [disabled]=forwardDisabled>
    >>
  </button>
</div>
