<div class="master">
    <div class="log">
        <h1>Login</h1>
    </div>
    <div class="up">
            <p>
                <label>Username</label> &nbsp;
                <input type="text" [(ngModel)]="username" class="username" placeholder=" Username" />
            </p>
            <p>
                <label> Password </label> &nbsp;
                <input type="text" [(ngModel)]="password" class="password" placeholder=" Password" />
            </p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="L" [routerLink]="['/home-riservata']">Login</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="P" [routerLink]="['/password-dimenticata']">Password dimenticata</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button [routerLink]="['/registrazione']">Registrazione</button>
    </div>
</div>
