div.master {
    text-align: center;
    font-family: "Verdana";
}

div.log {
    width: 430px;
    margin: auto;
    height: 50px;
    border: 1px solid black;
    background-color: green;
}

div.log h1 {
  color: white;
  text-align: center;
  font-size: 1.9em;

  line-height: 2px;
}

input {
    height: 20px;
    border: solid, 0.1px;
    border-color: grey;
}

button {
  font-size: 18px;
  color: #EDF5E1;
  background-color: #5CDB95;
  border: 1px solid #5CDB95;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
}

button:hover {
  background-color: #379683;
  color: #EDF5E1;
}
