<!--Prodotto {{prodotto.descrizone}} &nbsp; &nbsp; -->
<label class="prodottoSelezionato">{{prodottoSelezionato.descrizione}}</label>
<button (click)="esci()">ESCI</button>&nbsp;
<hr>
<div id="main">
  <form>
    <div>
      <table class="tagliesel">
        <th> Taglie selezionate </th>
        <tr *ngFor="let taglia of taglieSelezionate, index as i">
          <td> <input type="checkbox" [(ngModel)]="checkSelezionati[i]" name="check">
            {{taglia.descrizione}} </td>
        </tr>
      </table>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div>
      <button type="submit" (click)="togliASelezionate()"> > </button>
      <br>
      <br>
    </div>
  </form>
  <form>
    <div>
      <button type="submit" (click)="aggiungiASelezionate()">
        < </button>
          <br>
          <br>

    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div>
      <table class="tagliedisp">
        <th> Taglie disponibili </th>
        <tr *ngFor="let taglia of taglieDisponibili, index as i">
          <td> <input type="checkbox" [(ngModel)]="checkDisponibili[i]" name="check">
            {{taglia.descrizione}}</td>
        </tr>
      </table>
    </div>
  </form>
</div>
