<p>Area Gestore</p>
<a routerLink ="/anagrafica-prodotti">
<button>Anagrafica Prodotti</button>
</a>
&nbsp;
<a routerLink ="/anagrafica-colori">
<button>Anagrafica Colori</button>
</a>
&nbsp;
<a routerLink ="/anagrafica-taglie">
<button>Anagrafica Taglie</button>
</a>
&nbsp;
<a routerLink ="/anagrafica-spedizioni">
<button>Anagrafica Spedizioni</button>
</a>
&nbsp;
<br><br>
<a routerLink ="/gestione-offerte">
<button>Gestione Offerte</button>
</a>
&nbsp;
<a routerLink ="/visualizza-ordini-da-spedire">
<button>Visualizza ordini da Spedire</button>
</a>
&nbsp;
<a routerLink ="/visualizza-ordini">
<button>Visualizza Ordini</button>
</a>

